page-feed {
    .feed-header {
        background: $red;
        padding: 10px 20px;
        position: relative;
    }
    .avatar {
        background-image: url('../assets/imgs/avatar.png');
    }
    .avatarPos {
        background-size: cover;
        background-position: center center;
        height: 40px;
        width: 40px;
        border: 3px solid $eggshell;
        border-radius: 100px;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .feed-subheader {
        background: $eggshell;
        padding: 1px 20px;
        position: relative;
        padding-top: 5px;
    }
    .edit {
        position: absolute;
        right: 20px;
        top: 5px;
    }
    .slideItem {
        height: 70px;
        width: 70px;
        border-radius: 100px;
        border: 1.5px solid $red;
        background-size: cover;
        background-position: center center;
    }
    .slideContainer {
        display: inline-block;
        width: 70px
    }
    
    .showAllOptions {
        padding: 5px;
        border-radius: 100px;
        border: 2px solid rgb(148, 205, 231);
        color: rgb(158, 207, 223);
        padding-top: 10px;
    }
    ion-scroll.scroll-content {
        padding: -20px !important
    }
    .font40 {
        font-size: 40px
    }
    .amountContainer {
        position: relative
    }
    .amountRight {
        position: absolute;
        top: 0;
        right: 20px
    }

    
    ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }

  
    }
  
