<ion-content *ngIf="user">
  <!-- REFRESH -->
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

 
  <div class="feed-header">
    <!-- MENSSAGEM DE SAUDÇÃO -->
    <h4 class="eggshell regular">
      Olá, {{user.name}}!
    </h4>

    <!-- SEM AVATAR -->
    <div *ngIf="!user.avatar" class="avatarPos avatar">
    </div>
    <!-- USER AVATAR -->
    <div *ngIf="user.avatar" class="avatarPos" [ngStyle]="{ 'background-image': 'url(' + user.avatar + ')'}">
    </div>
  </div>

 
  <div class="feed-subheader">
    
    <p class="black bold" *ngIf="!user.address">
      Complete seu cadastro
    </p>
    <p class="black bold" *ngIf="user.address">
      {{user.address}}
    </p>

    
  </div>

  
  <div class="padding-20 padding-bottom-0">
    
    <h3 class="black bold">
     Com fome? Dê uma olhada no cardapio!
    </h3>

   

    <!-- CARDAPIO -->
    <div class="showAllOptions bold center" (click)="openProducts()">
      Ver cardapio completo
    </div>

 
    <h3 class="black bold mg-top-60">
      Seu carrinho
    </h3>

    
    <div class="amountContainer">
      <h4 class="red regular no-margin" style="display: inline-block">
        R$
      </h4>
      <h1 class="red bold no-margin font40" style="display: inline-block">
        {{toPrice(amount)}}
      </h1>

      <div class="amountRight">
        <h1 class="red bold no-margin font40" style="display: inline-block">
          {{items.length}}
        </h1>
        <h4 class="red regular no-margin" style="display: inline-block">
          Itens
        </h4>
      </div>
    </div>

   
    <div class="showAllOptions bold center mg-top-10" (click)="openCart()">
      Abrir carrinho
    </div>
  </div>

  <br>
  <br>
  <br>
</ion-content>