$font-path: "../assets/fonts";
$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    rgb(40, 161, 231),
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

//Pallet 
$red: rgb(40, 161, 231);
$eggshell: #F7F5DD;
$green: rgb(52, 86, 238);
$black: #363636;
$gray: #C6C6C6;

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
